node_modules
dist
dist-ssr
*.local
*.env
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test files
test-validations.cjs
test-validations.js
